<!--Template to aid instructors in adding questions-->
{% extends 'instructor/instructor_sidebar.html' %}

{% block content %}
<h2 class="text-center">Add Questions to {{ quiz.title }}</h2>

<p><a href="{% url 'quiz_questions' quiz.id %}" class="btn btn-primary">View existing questions</a></p>

<form method="post">
    {% csrf_token %}
    {{ question_form.as_p }}

    <h3>Answers</h3>
    <ol>
        {% for form in answer_forms %}
        <li>
            {{ form.as_p }}
        </li>
        {% endfor %}
    </ol>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Question</button>
    </div>
</form>


{% endblock %}