<!--Template to aid instructors in viewing questions-->
{% extends 'instructor/instructor_sidebar.html' %}

{% block content %}
  <h2 class="text-center">Questions for {{ quiz.title }}</h2>

  <p><a href="{% url 'add_questions' quiz.id %}" class="btn btn-primary">Add more questions</a></p>

  <ol>
    {% for question in questions %}
      <li>
        <p><strong>{{ question.text }}</strong></p>
        <ul>
          {% for answer in question.answers.all %}
            <li>{{ answer.text }} {% if answer.is_correct %}(Correct Answer){% endif %}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
