# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/
.env

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore database files
db.sqlite3

# Ignore logs
*.log

# Ignore static and media files
media/

# Ignore VSCode settings
.vscode/

#Personal files
setup.txt
steps.txt
