<!--about us template-->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | Instructly{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/resources.jpg' %}" alt="Instructly Team" class="img-fluid rounded mb-4">
        </div>
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>
                At Instructly, our mission is to empower learners and educators through innovative and user-friendly
                tools.
                We are dedicated to enhancing the learning experience by providing intuitive platforms and resources
                designed to meet the diverse needs of our users.
            </p>
            <h3>Our Team</h3>
            <p>
                Our team consists of enthusiastic professionals who are passionate about education and technology.
                We collaborate closely to develop solutions that make learning and teaching more effective and
                enjoyable.
            </p>
            <h3>Contact Us</h3>
            <p>
                If you have any questions or need support, feel free to email us at <a
                    href="mailto:mumiaktechnologies@gmail.com">mumiaktechnologies@gmail.com</a>.
                We are here to assist you and value your feedback.
            </p>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="mailto:mumiaktechnologies@gmail.com" class="btn btn-primary">Email Us</a>
    </div>
    <br><br>
</div>
{% endblock %}