{% load static %}

<!-- Footer -->
<footer class="bg-dark text-white py-4 mt-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-light text-decoration-none">
                    <img src="{% static 'img/Instructly.png' %}" class="bi me-2" style="width: 100px; height: auto;" alt="Instructly">
                </a>
                <p>&copy; 2024 Instructly</p>
            </div>

            <div class="col mb-3">
                <h5>E-learning Platforms</h5>
                <ul class="nav flex-column text-white">
                    <li class="nav-item mb-2"><a href="https://www.coursera.org/" target="_blank" class="nav-link p-0">Coursera</a></li>
                    <li class="nav-item mb-2"><a href="https://www.udemy.com/" target="_blank" class="nav-link p-0">Udemy</a></li>
                    <li class="nav-item mb-2"><a href="https://www.khanacademy.org/" target="_blank" class="nav-link p-0">Khan Academy</a></li>
                    <li class="nav-item mb-2"><a href="https://www.edx.org/" target="_blank" class="nav-link p-0">edX</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>More Information</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'about_us' %}" class="nav-link p-0">About Us</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'join_us' %}" class="nav-link p-0">Join Us</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'help_center' %}" class="nav-link p-0">Help Center</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'terms' %}" class="nav-link p-0">Terms of Service</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'privacy' %}" class="nav-link p-0">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>