{% extends 'instructor/instructor_sidebar.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Your Notifications</h2>
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item {% if not notification.is_read %}list-group-item-success{% endif %}">
                {{ notification.message }}
                <span class="text-muted float-end">{{ notification.created_at }}</span>
            </li>
        {% empty %}
            <li class="list-group-item">No notifications available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
