<!--form fo updating a users details-->
{% extends 'instructor/instructor_sidebar.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">User Settings</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--users existing details-->
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Edit User Details</h5>
                        {{ user_form.as_p }}
                    </div>
                </div>
            </div>

            <!--Other users details-->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Edit Profile</h5>
                        {{ profile_form.as_p }}
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
