{% extends 'student/student_base.html' %}
{% block title %}News | Instructly{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Latest News</h1>
    <div class="row justify-content-center">
        {% for article in articles %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <p><strong>Source:</strong> {{ article.source.name }}</p>
                    <p><strong>Author:</strong> {{ article.author }}</p>
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    Published at: 
                    {% if article.publishedAt %}
                        {{ article.publishedAt|date:"F j, Y, g:i a" }}
                    {% else %}
                        Date not available
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}